<mat-toolbar class="header mat-elevation-z6" color="primary">
    <!-- <button mat-icon-button matTooltip="Back">
      <mat-icon>keyboard_backspace</mat-icon>
    </button> -->
     <a matTooltip="Contact on FB" href="https://www.facebook.com/dilshad.ahmad.9619" target="_blank">
      <mat-icon class="bg-dark" >facebook</mat-icon>
     </a> 
    <span class="fill-remaining-space"></span>
    <span style="color:black;font-weight:550">Movie Comparator <mat-icon class="align-middle">movie</mat-icon> </span>
    <span class="fill-remaining-space"></span>
    <button
      mat-icon-button
      matTooltip="info"
      color="white"
      aria-label="Guidelines"
    >
      <mat-icon style="color:black;font-weight:550">info</mat-icon>
    </button>
  </mat-toolbar>
  <!-- <h2><a [routerLink]="'/table'">Contacts</a></h2> -->
  <div class="new-margin">
    <app-home></app-home>
    <!-- <router-outlet></router-outlet> -->
  </div>

  <!-- Footer  -->
  <!-- <mat-toolbar class="footer">
    <span class="fill-remaining-space"></span>
    <span class="fill-remaining-space"></span>
    <span>
  
      <button
        mat-raised-button
        type="button"
        [ngClass]="{
          button1: true,
          'ml-2': true,
          btnDisabled: '!selection.hasValue()'
        }"
        color="primary"
        style="width: 100px; height: 30px;"
      >
        Process
      </button>
     
    </span>
  </mat-toolbar> -->
  